<div class="container">


    <h1 class="mt-4"> Dashboard</h1>

        <h1>
            <% if (user.photo) { %>
                <img src="<%= user.photo %>  " alt="profile picture" width="20%">     
            <% } else { %>
                <img src="stock-nopic.jpg" alt="profile picture" width="20%"> 
            <% } %>
        </h1>

        <% if (user.name == null || user.name == undefined) {%>
            <p class="lead mb-3">Welcome
                <%= user.username %>
            </p>
            <% } else { %>
            <p class="lead mb-3">Welcome
                <%= user.name %>
            </p>
            <% } %>
            <a href="/uploads/" class="btn btn-secondary">Change Profile Picture</a>
            <a href="/auth/logout" class="btn btn-secondary">Logout</a>
</div>
