<div class="container">
<<<<<<< HEAD
    <form enctype="multipart/form-data" action="/uploads" method="POST"> 
        <input type="file" name="file" id="file">
        <button type="submit" class="btn btn-default">Submit</button>
=======
    <h1 class="mt-4 mb-4">Change Profile Picture</h1>
    <form enctype="multipart/form-data" action="/uploads" method="POST"> 
        <input type="file" name="file" id="file">
        <button type="submit" class="btn btn-secondary">Submit</button>
>>>>>>> 6396782fcc1abf69101f5a5d437ad454b68198d6
    </form>
</div>